<p><%= notice %><%= alert %></p>
<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Googleでサインアップしてね', user_google_omniauth_authorize_path %>
<% end %>

<% if user_signed_in? && current_user.nickname.present? %>
<%= link_to 'イベントを見る', events_path %>
<%= link_to 'プロフィール詳細を見る', profile_path(current_user.id) %>
<%= link_to 'Q & A コーナーを見る', questions_path %>
<% end %>

<% if user_signed_in? %>
<% unless current_user.nickname.present? %>
<%= link_to 'プロフィールを作成する', new_profile_path %>
<% end %>
<% end %>